Repository kjsooraj/johnsonville-dashboard: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

chore: engine lock
  .eslintrc
  .npmrc
  .nvmrc
  .prettierrc
  index.html
  package.json
  src/App.jsx
  src/App.tsx
  src/assets/icons/arrow-up.svg
  src/assets/icons/key-metrics.svg
  src/assets/icons/sales-analysis.svg
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Layout.tsx
  src/components/Menu.tsx
  src/components/core/Icon.tsx
  src/constants/icons.ts
  src/env.d.ts
  src/main.jsx
  src/main.tsx
  src/pages/Home.tsx
  src/styles/tailwind.css
  src/vite-env.d.ts
  tsconfig.json
  vite.config.js
  vite.config.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

style: change import sort order
  .prettierrc
  src/components/core/Icon.tsx
Due: eslint --cache --fix, prettier --write

feat: add button and drawer comps
  index.html
  package.json
  src/App.tsx
  src/assets/icons/close.svg
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Layout.tsx
  src/components/core/Button.tsx
  src/components/core/Drawer.tsx
  src/components/core/Icon.tsx
  src/constants/icons.ts
  src/constants/routes.ts
  src/lib/utils.ts
  src/pages/Error.tsx
  src/pages/Login.tsx
  src/styles/tailwind.css
  tailwind.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat: add basic pages
  .prettierrc
  package.json
  src/App.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/core/Drawer.tsx
  src/components/core/Icon.tsx
  src/pages/About.tsx
  src/pages/Blogs.tsx
  src/pages/Coaching.tsx
  src/pages/Contact.tsx
  src/pages/Gallery.tsx
  src/pages/Login.tsx
  src/pages/Services.tsx
  src/pages/Testimonials.tsx
  src/pages/Training.tsx
  src/styles/tailwind.css
  tailwind.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

style(prettier): fix automatic class sorting for tailwindcss
  .prettierrc
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Layout.tsx
  src/components/core/Drawer.tsx
  tailwind.config.js
Due: eslint --cache --fix, prettier --write

chore(route): setting routes constant
  src/App.tsx
  src/constants/routes.ts
Due: eslint --cache --fix, prettier --write

chore(github): add CODEOWNERS file for code review ownership
  .github/CODEOWNERS
Due: none

fix(github): typo CODEOWNERS file
  .github/CODEOWNERS
Due: none

chore(github): add precommit and postinstall script
  package.json
Due: prettier --write

fix(github): testing code pr auto asign reviewers
  .github/CODEOWNERS
Due: none

chore: add auto code reviewers
  .github/workflows/assign-reviewers.yml
Due: none

chore: cleaning unused comps
  src/components/Menu.tsx
  src/components/core/Button.tsx
Due: eslint --cache --fix, prettier --write

docs(readme): clean readme.md
  README.md
Due: prettier --write

chore(github): auto assign other COs for COs pr
  .github/workflows/assign-reviewers.yml
Due: none

feat(header): work on header actions
  package.json
  src/App.tsx
  src/assets/icons/arrow-up.svg
  src/assets/icons/close.svg
  src/assets/icons/key-metrics.svg
  src/assets/icons/menu.svg
  src/assets/icons/sales-analysis.svg
  src/components/Footer.tsx
  src/components/Guide.tsx
  src/components/Header.tsx
  src/components/core/Button.tsx
  src/components/core/Drawer.tsx
  src/constants/icons.ts
  src/pages/About.tsx
  src/pages/Blogs.tsx
  src/pages/Coaching.tsx
  src/pages/Contact.tsx
  src/pages/Gallery.tsx
  src/pages/Services.tsx
  src/pages/Testimonials.tsx
  src/pages/Training.tsx
  src/styles/tailwind.css
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat: wip - move to new desing colors
  package.json
  src/App.tsx
  src/components/Footer.tsx
  src/components/Guide.tsx
  src/components/Header.tsx
  src/components/Layout.tsx
  src/components/core/Avatar.tsx
  src/components/core/Button.tsx
  src/components/core/Drawer.tsx
  src/components/core/Separator.tsx
  src/main.tsx
  src/styles/tailwind.css
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat(button): wip - icon button refactor
  src/App.tsx
  src/components/Header.tsx
  src/components/Layout.tsx
  src/components/core/Avatar.tsx
  src/components/core/Button.tsx
  src/components/core/Icon.tsx
  src/pages/Home.tsx
Due: eslint --cache --fix, prettier --write

feat(button): styling done
  src/components/core/Button.tsx
  src/pages/Home.tsx
Due: eslint --cache --fix, prettier --write

feat(auth): wip - auth types, screen
  .env.example
  .gitignore
  .prettierrc
  package.json
  src/App.tsx
  src/components/Auth.tsx
  src/lib/supabase.ts
  src/main.tsx
  src/redux/features/authSlice.ts
  src/redux/store.ts
  src/types/auth.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat(auth): done redux implement
  .prettierrc
  package.json
  src/App.tsx
  src/components/Auth.tsx
  src/redux/features/authSlice.ts
  src/redux/store.ts
Due: eslint --cache --fix, prettier --write

feat: wip add google auth support
  src/components/Auth.tsx
Due: eslint --cache --fix, prettier --write

feat(layout): wip - basic layout
  .env.example
  .eslintrc
  package.json
  src/App.tsx
  src/components/Header.tsx
  src/components/Layout.tsx
  src/components/core/Drawer.tsx
  src/components/core/Separator.tsx
  src/components/core/SplitPane.tsx
  src/hooks/useSubscription.ts
  src/redux/store.ts
  tailwind.config.js
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat(header): wip: login funcs
  src/assets/icons/unnamed.svg
  src/components/Header.tsx
  src/components/core/Avatar.tsx
  src/constants/icons.ts
  src/redux/features/authSlice.ts
  src/types/auth.ts
Due: eslint --cache --fix, prettier --write

feat(auth): wip - add auth in header user actions
  package.json
  src/assets/icons/check.svg
  src/assets/icons/chevron-right.svg
  src/assets/icons/circle.svg
  src/assets/icons/logout.svg
  src/assets/icons/settings.svg
  src/assets/icons/unnamed.svg
  src/components/Header.tsx
  src/components/UserAction.tsx
  src/components/core/Avatar.tsx
  src/components/core/Dropdown.tsx
  src/constants/icons.ts
  src/hooks/useSubscription.ts
  src/redux/features/authSlice.ts
  src/types/auth.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

fix: types fixing
  package.json
  src/components/Auth.tsx
  src/components/Layout.tsx
  src/components/UserAction.tsx
  src/hooks/useSubscription.ts
  src/redux/store.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

chore: user actions extening
  package.json
  src/assets/icons/user.svg
  src/assets/icons/verified.svg
  src/components/UserAction.tsx
  src/components/core/Dropdown.tsx
  src/components/core/Toggle.tsx
  src/constants/icons.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

chore: lintstaged exprmnt
  .lintstagedrc
  src/components/UserAction.tsx
  src/components/core/Loader.tsx
  src/hooks/useSubscription.ts
  src/redux/auth.slice.ts
  src/redux/store.ts
Due: eslint --cache --fix, prettier --write

chore: lintstaged exprmnt
  src/hooks/useSubscription.ts
Due: eslint --cache --fix, prettier --write

chore: lintsated check
  src/hooks/useSubscription.ts
Due: eslint --cache --fix, prettier --write

chore(vscode): add svg formatting support
  .vscode/settings.json
  src/assets/icons/check.svg
  src/assets/icons/chevron-right.svg
  src/assets/icons/circle.svg
  src/assets/icons/close.svg
  src/assets/icons/logout.svg
  src/assets/icons/menu.svg
  src/assets/icons/settings.svg
  src/assets/icons/unnamed.svg
  src/assets/icons/user.svg
  src/assets/icons/verified.svg
Due: prettier --write

feat(flex): wip- base flex component
  src/components/core/Flex.tsx
  src/pages/Home.tsx
Due: eslint --cache --fix, prettier --write

style: typos and imports
  src/pages/Home.tsx
  src/redux/store.ts
  vite.config.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,json,md}
